*,
*::after,
*::before {

  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;

}

body {

  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;

}

h1 {

  /* margin-bottom: 0; */
  font-weight: 600;

}

li {

  list-style: none;

}


a {

  text-decoration: none;
  color: inherit;
  font-weight: 600;
  cursor: pointer;

}

table,
td,
th {

  padding: 10px !important;

}

html.light {

  background-color: antiquewhite;
  z-index: 1000;

}

html.dark {

  background-color: black;
  z-index: 1000;

}