.crud {

    margin: 130px auto !important;
    max-width: 700px !important;
    display: block;
    border: 1px solid black;
    padding: 20px 40px !important;
    border-radius: 4px 8px;


}

.topMargin {

    margin: 100px 0 !important;

}


.btnContainer {

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.topPadding {

    padding: 10px !important;

}

.h1 {

    text-align: center !important;
    margin-bottom: 20px !important;
    font-weight: 700;

}

.column {

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.input {

    padding: 7px 5px !important;

}

.btn {

    margin-top: 20px !important;
    width: 100%;

}