.mtop {

    padding: 10px !important;
    width: 500px;
    margin: 100px auto 100px !important;

}

.h3 {

    margin: 20px !important;
    text-align: center;

}

.grid {

    display: grid;
    gap: 20px;

}

.container {

    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;

}

.full {

    width: 100% !important;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 20px 0 !important;

}

.input {

    width: 100%;

}

.lineThrough {

    text-decoration: line-through;

}