.header {

    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;

}

.h2 {

    color: white;
    font-weight: 600;

}

.h2 span {

    color: aqua;

}

.ul {

    display: flex;
    align-items: center;
    gap: 20px;

}

.ul2 {

    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: cadetblue;
    width: max-content;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    height: 100vh;
    transition: transform 0.4s ease-in-out;
    transform: translateX(-100%);

}

.showMenu {

    transform: translateX(0);

}

.active {

    color: blue;

}

.NavLink {

    font-size: 20px;
    font-weight: 500;

}

.menu {

    display: none;

}

@media (max-width : 576px) {

    .ul {

        display: none;

    }


    .menu {

        display: block;
        cursor: pointer;

    }

}