.header {

    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;

}


.ul {

    display: flex;
    gap: 20px;
    align-items: center;

}

.ul2 {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: max-content;
    padding: 10px 20px;
    display: flex;
    background-color: brown;
    flex-direction: column;
    gap: 20px;
    transition: transform 0.4s ease-in-out;
    transform: translateX(-100%);

}

.showMenu {

    transform: translateX(0%);

}

.menu {

    display: none;

}

@media (max-width:576px) {

    .ul {

        display: none;

    }

    .menu {

        display: block;
        cursor: pointer;


    }

}