

header {

  background-color: whitesmoke;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3) ;
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

}

.logo {

  color: #0D1117;

}

.logo-color {

  color: #00AEEF;

}

.navbar {

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  /* background-color: aquamarine; */
  width: 100%;

}


.nav ul {

  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-weight: 600;

}

ul li a {

  color: black;

}

ul li a:hover {

  border-bottom: 2px solid black;

}

.searchbar-cart {

  display: flex;
  gap: 20px;
  align-items: center;

}

.searchbar-cart input[type="text"] {

  padding: 10px 20px 10px 10px ;
  border: none;
  background-color: rgb(223, 230, 240);
  border-radius: 4px;

}

.searchbar-cart .searchBar {

  position: relative;

}

.searchBar .searchIcon {

  position: absolute;
  right: 5px;  
  top: 8px !important;
  transition: all 0.4s ease;
  cursor: pointer;

}

.searchBar .searchIcon:is(:active,:focus) {

  scale: 1.1;

}

.cart-icons {

  display: flex;
  align-items: center;
  gap: 10px;

}

.i {

  font-size: 20px;

}

/* nav2 */

 header .nav2 {

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: whitesmoke;
  height: calc(100vh - 90px);
  position: fixed;
  top: 90px;
  right: -100%;
  bottom: 0;
  width: 0;
  transition: all 0.2s ease;
  z-index: 101;

  
  /* border: 1px solid black; */

}

header .nav2.menuadd {

  right: 0;
  width: 200px;

}

.nav2 ul {


  display: flex;
  flex-direction: column;
  gap: 15px;

}




@media(max-width : 576px) {

  .nav {

    display: none;

  }

  .cart-icons {

    display: none;

  }

  .menuContainer {

    display: block;

  }

  .searchBar {

    display: none;

  }

}

@media(min-width : 576px) {

  .nav {

    display: none;

  }

  
  .cart-icons {

    display: none;

  }

    .menuContainer {

    display: block;

  }


}


@media(min-width : 768px) {

    .nav {

    display: flex;

  }

  .cart-icons {

    display: flex;

  }

  .menuContainer {

    display: none;

  }

   header .nav2 {

    display: none;

   }


}


@media(min-width : 992px) {



}


@media(min-width : 1200px) {



}


@media(min-width : 1400px) {



}


