.slider {

    width: 100%;
    overflow: hidden;
    height: 600px;
    margin-top: 100px;
    position: relative;

}

.slide {

    display: none;
    height: 100%;

}

.slide.active {

    display: block;
    height: 100%;


}

.slide img {

    width: 100%;
    height: 100%;


}

.dots {

    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;

}

.dot {

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;

}

.dot.active-dot {

   background-color: rgb(224, 199, 199);

}



@media(max-width : 576px) {

    .slider {


    height: auto;


}



}

@media(min-width : 576px) {

        .slider {


    height: auto;


}


}


@media(min-width : 768px) {

    
    .slider {


    height: 600px;


}


}


@media(min-width : 992px) {



}


@media(min-width : 1200px) {



}


@media(min-width : 1400px) {



}


