* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html {

  font-family: Arial, Helvetica, sans-serif;

}

li {

  list-style: none;

}

input:focus {

  outline: none;

}

a {

  cursor: pointer;
  text-decoration: none;

}


.container {

  max-width: 1200px ;
  margin: 0 auto;
  padding: 20px;

}