* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


li {

    list-style: none;

}

a {

    text-decoration: none;
    color: inherit;

}


body {

    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */

}

html.light {

    background-color: greenyellow;
    color: black;

}

html.dark {


    background-color: black;
    color: white;

}


/*  */