:root {
    --header-height: 90px;
}


.header {

        width: 100%;
        color: white;
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        /* padding: 10px 16px; */
        align-items: center;
        background-color: unset;
        z-index: 1000;
        transition: all 0.4s ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

}

.header.active {

    height: 70px;
    background-color: rgb(57, 57, 202);
    color: white;
    --header-height : 70px

}


.logoContainer {

    width: 200px;
    height: auto;
    padding: 10px 16px;

}

.logoContainer img {

    width: 100%;
    height: 100%;
    object-fit: contain;

}

.nav-item {

    position: relative;
    /* background-color: aquamarine; */
    height: 100%;
    display: flex;
    align-items: center;


}

.nav-link {

    font-weight: 500;
    /* background-color: red; */
    height: 100%;
    display: flex;
    align-items: center;

}

.nav-link-btn {

    background-color: rgb(250, 132, 48);
    color: white;
    padding: 8px 10px;
    margin-right: 16px;

}


.nav {


    /* background-color: blueviolet; */
    height: 100%;
    display: flex;
    align-items: center;

}

.ul {

    height: 100%;
    align-items: center;
    gap: 20px;

}

.ul2 {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100vh;
    background-color: blue;
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;

}

.ul2.active {

    transform: translateX(0%);

}

.ul2 .nav-link-btn {

    width: max-content;

}

   .menu {

       font-size: 30px;
       cursor: pointer;
       margin-right: 16px;

   }

.logoSmallScreenContainer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 40px;
    z-index: 116;
    background-color: blue;
    height: 90px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

}

.ul2Data {

    color: wheat !important;
    margin-top: 90px;
    z-index: 110;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    padding: 40px 40px;

}

.dropdown {

    position: absolute;
    top: calc(var(--header-height) );
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    width: max-content;
    padding: 20px 30px;
    height: auto;
    /* border-radius: 8px; */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    display: none;


}

.nav-item:hover > .dropdown {

    display: block;

}

.dropdown-item-container {

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;

    
}

.dropdown-item.has-children {

    grid-column: span 1;

}
.dropdown-item.no-children {

    grid-column: span 4;

}

.plusMinusContainer {

    display: flex;
    gap: 4px;

}

.plusMinus {

    cursor: pointer;
    font-size: 20px;

}

.containerPlusMinus {

    display: flex;
    flex-direction: column;
    gap: 5px;

}


@media (max-width : 576px) {

    .menu {
    
            display: block;
    
    }

    .ul {

        display: none;

    }

}

@media (min-width : 576px) {

    .menu {
    
            display: block;
    
    }

    .ul {

        display: none;

    }

}
@media (min-width : 768px) {

    .menu {
    
            display: block;
    
        }
    
        .ul {
    
            display: none;
    
        }

}
@media (min-width : 992px) {

    .menu {
    
            display: none;
    
        }
    
        .ul {
    
            display: flex;
    
        }

}








