/* .hero {

    background-image: url("../assets/images/hero_img/hero_img.jpg");
    width: 100%;
    padding-top: 100px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;

} */

.hero {

    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    padding-top: 120px;

}

.hero::before {

    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../assets/images/hero_img/hero_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(2px);

}

.heroHeading {

    font-size: 45px;
    line-height: 55px;
    /* text-align: center; */
    margin-bottom: 15px;
    color: rgb(77, 77, 241);
    letter-spacing: 3px;

}

.heroHeading p {

    color: rgb(255, 187, 0);

}

.heroParagraph {

    max-width: 40%;
    width: 100%;
    font-size: 20px;
    color: white;
    line-height: 30px;

}

@media (max-width : 576px) {


    .heroHeading {
    
     
            text-align: center;
            font-size: 26px;
            line-height: 36px;
    
        }

        .heroParagraph {
        
            text-align: center;
            margin-inline: auto;
            max-width: 100%;
            font-size: 14px;
        
        }

        .hero::before {
                    
                background-position: 80% 50%;
                    
        }

}

@media (min-width : 576px) {

                .heroHeading {
                
                
                        font-size: 32px;
                        line-height: 42px;
                
                }

            .heroParagraph {
            
                max-width: 70%;
                width: 100%;
            
            }

        .hero::before {
                    
            background-position: 80% 50%;
                    
        }



}

@media (min-width : 768px) {

    .heroParagraph {
    
            max-width: 60%;
            width: 100%;
    
        }

     .hero::before {
                
        background-position: unset;
                
    }

}

@media (min-width : 992px) {

    .heroParagraph {
    
            max-width: 40%;
    
        }

}


